@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&family=Macondo&family=Montserrat:wght@200;500&family=Nunito+Sans:wght@200&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;1,300&display=swap");

.text-muted,
.help-block {
  display: none;
}
body {
  background-color: #f9f3f5;
  font-family: "Akshar", sans-serif;
  font-family: "Koulen", cursive;
  font-family: "Macondo", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
}

#signin-box {
  margin: 150px 20px;
}

#registration-box {
  margin: 100px 20px;
}

#signin-box,
#registration-box {
  border: 1px solid #d8d0d0;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffc8dd;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.book-card {
  background-color: #ffc8dd;
}

#part-time,
#full-time,
#conf-btn,
#update-btn,
#bk-btn {
  background-color: #bde0fe;
  color: #141212;
}

#update {
  background-color: #ffc8dd;
  /* outline: none; */
  outline-color: rgb(255, 230, 0);
  color: #141212;
}

.basis {
  box-shadow: 0px 2px 10px 2px #ffc8dd;
}

#navcolor {
  background-color: #ffc8dd;
}

.update-form {
  padding: 10px;
  background-color: #bde0fe;
  box-shadow: 0px 2px 10px 2px #423a3d;
}
