body {
    background-color: #f9f3f5;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 15px;
}



.btn {
    background-color: #FFAFCC;
    margin-top: 5px;

}

a {
    color: black;
    text-decoration: none;
}

.nanny1 {
    /* background-color: #f9f3f5; */
    background-color: #BDE0FE;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.nanny2 {
    padding-top: 30px;
}

.form {
    padding-left: 780px;
}

.about1 {
    background-color: #BDE0FE;
}