{% extends 'nannydetails/base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<link href="/static/css/nannydetails.css" rel="stylesheet">


<form action="{% url 'search' %}" method="POST" class="form">
    {% csrf_token %}
    <input type="text" name="name">
    <input type="submit" name="submit" value="Nanny Search" class="btn">
</form>


<div class="container">
    <div class="row nanny2 d-flex m-3">
        {% for result in results %}
        <div class="col-lg-4 col-md-4 mx-auto border p-3 ml-3 mr-3 card">
            <div class="card-body">
                <img src="{{result.profile_pic.url}}" class=" card-img-top img-fluid" alt="{{nannies.name}}"
                    style="height: 250px; width: 350px;">
                <h3> <strong>Name: </strong> </h3>
                <h4>{{result.name}}</h4>
                <h3><strong>Age:</strong> </h3>
                <h4> {{result.age}}</h4>
                <h3><strong>Location:</strong></h3>
                <h4> {{result.location}} </h4>
                <h3><strong>Available: </strong></h3>
                <h4>{{result.availability}}</h4>
                <h3><strong>About:</strong></h3>
                <h4> {{result.about}}</h4>
                <h3><strong>Skills:</strong></h3>
                <h4>{{result.skills}}</h4>
                <h3><strong>Company:</strong></h3>
                <h4>{{result.company}}</h4>
                <button class="btn"><i class="fa fa-info-circle"></i> <a href="{% url 'booking' result.name %}">BOOK
                        SERVICE</a> </button>



            </div>
        </div>



        {% endfor %}

    </div>
</div>

{% for nannies in nanny %}
<div class="nanny1">

    <div style="margin-bottom:30px;">
        <div class="row">
            <div class="col-4">

                <img src="{{nannies.profile_pic.url}}" class="card-img-top img-fluid" alt="{{nannies.name}}"
                    style="padding-right: 10px; height: 250px;">


            </div>
            <div class="col-2">
                <h1 style="margin-bottom:15px; text-align: justify;"><strong>{{nannies.name}}</strong> </h1>

                <h5 style="margin-bottom:15px; text-align: justify;">NANNY RATING:</h5>
                <strong>
                    <span class="fa fa-star checked text-warning"></span>
                    <span class="fa fa-star checked text-warning"></span>
                    <span class="fa fa-star checked text-warning"></span>
                    <span class="fa fa-star checked text-warning"></span>
                    <span class="fa fa-star checked text-warning"></span>
                </strong>

            </div>
            <div class="col-4">
                <h2 style="margin-bottom:15px; text-align: justify;">AVAILABILITY:
                    {{nannies.availability}}</h2>
                <h2 style="margin-bottom:15px; text-align: justify;">AGE: {{nannies.age}}</h2>
                <h2 style="margin-bottom:15px; text-align: justify;">RATES: {{nannies.rates}}</h2>
                <h2 style="margin-bottom:15px; text-align: justify;">LOCATION: {{nannies.location}}
                </h2>
                <h2 style="margin-bottom:15px; text-align: justify;">EXPERIENCE:
                    {{nannies.experience}}</h2>
                <h2 style="margin-bottom:15px; text-align: justify;">COMPANY:
                    {{nannies.company}}</h2>
            </div>
        </div>
    </div>
    <!-- <hr style="height:2px; border-width:0; color:#BDE0FE; background-color:#BDE0FE; "> -->
    <div>
        <div class=" row">

            <div class="col" class="about1">
                <h1 style="padding-right: 10px;">ABOUT</h1>
                <hr
                    style="margin-bottom:20px; height:2px; width: 25%; border-width:0; color:black; background-color:black;">
                <h3 style="padding-right: 10px;">{{nannies.about}}</h3><br>

            </div>
            <div class="col">
                <h1 style="padding-right: 10px;">SKILLS</h1>
                <hr
                    style=" margin-bottom:20px; height:2px; width: 25%; border-width:0; color:black; background-color:black">
                <h3 style="padding-right: 10px;">{{nannies.skills}}</h3>
                <button class="btn"><i class="fa fa-info-circle"></i> <a href="{% url 'booking' nannies.name %}">BOOK
                        SERVICE</a> </button>
            </div>


        </div>
    </div>

</div>
<hr style="height:20px; color:#BDE0FE; background-color:#BDE0FE; ">
{% endfor %}

{%endblock%}